root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true

[*.cs]
charset = utf-8-bom

[*.json]
charset = utf-8-bom

[*.asmdef]
charset = utf-8-bom

[*.asmref]
charset = utf-8-bom

[*.meta]
charset = utf-8-bom

[*.unity]
charset = utf-8-bom

[*.prefab]
charset = utf-8-bom

[*.mat]
charset = utf-8-bom

[*.asset]
charset = utf-8-bom

[*.txt]
charset = utf-8-bom
